export DAG_HOME="$PWD"
export KUBECONFIG="$PWD/.kube/config"
export GITEA_DOMAIN="gitea-127.0.0.1.sslip.io"
export GITEA_URL="http://${GITEA_DOMAIN}:30950"
export GITEA_INCLUSTER_URL="http://gitea-http.default.svc.cluster.local:30950"
export GITEA_CONFIG_MANIFESTS_PATH="$DAG_HOME/k8s/gitea-config"
export DRONE_SERVER_HOST="drone-127.0.0.1.sslip.io:30980"
export DRONE_SERVER_URL="http://${DRONE_SERVER_HOST}"
export ARGOCD_SERVER_HOST="argocd-127.0.0.1.sslip.io:30080"
export ARGOCD_SERVER_URL="http://${ARGOCD_SERVER_HOST}"
export ARGO_ADMIN_PASSWORD=demo@123
export REGISTRY_NAME=nexus.infra.svc.cluster.local
export DAG_TARGET_VERSION=main
#add this to escape the variable from envsubst
export DOLLAR='$'

export GITEA_USER=user-01
export GITEA_DAG_REPO="${GITEA_URL}/${GITEA_USER}/dag-stack.git"

export DRONE_SERVER="${DRONE_SERVER_URL}"
export DRONE_TOKEN="update it with your account settings"
export ENABLE_DRONE_ADMIN=true
export NEXUS_ADMIN_CREDENTIALS_SECRET=nexus3-config-c29mh65cmb
# when using k3s cluster on cloud you can update this value to be like
# http://${TRAEFIK_LOADBALANCER_IP}:31081
export REGISTRY_SERVICE_ENDPOINT=http://localhost:31081

export DOCKER_NETWORK_NAME=none
export K3D_CLUSTER_NAME=dag
source_env_if_exists .envrc.local