export DAG_HOME="$PWD"
# HOSTNAME == host name from config file
# http://${HOSTNAME}.${_SANDBOX_ID}.instruqt.io:30980
export DAG_BASE_DOMAIN="${_SANDBOX_ID}.instruqt.io"
export GITEA_DOMAIN="kubernetes-vm.${DAG_BASE_DOMAIN}"
export GITEA_URL="http://${GITEA_DOMAIN}:30950"
export DRONE_SERVER_HOST="kubernetes-vm.$DAG_BASE_DOMAIN:30980"
export DRONE_SERVER_URL="http://${DRONE_SERVER_HOST}"
export ARGOCD_SERVER_HOST="kubernetes-vm.$DAG_BASE_DOMAIN:30080"
export ARGOCD_SERVER_URL="http://${ARGOCD_SERVER_HOST}"
export ARGO_ADMIN_PASSWORD=demo@123
export REGISTRY_NAME=nexus.infra.svc.cluster.local
export IMAGE_REGISTRY_USER=admin
export IMAGE_REGISTRY_PASSWORD=admin123
export DAG_TARGET_VERSION=instruqt
#add this to escape the variable from envsubst
export DOLLAR='$'

export GITEA_USER=user-01
export GITEA_DAG_REPO="${GITEA_URL}/${GITEA_USER}/dag-stack.git"

export DRONE_SERVER="${DRONE_SERVER_URL}"
export DRONE_TOKEN="update it with your account settings"
export ENABLE_DRONE_ADMIN=false
export NEXUS_ADMIN_CREDENTIALS_SECRET=nexus3-config-c29mh65cmb
export REGISTRY_SERVICE_ENDPOINT=http://localhost:31081

source_env_if_exists .envrc.local